*
!app
!bootstrap
!config
!database
!public
!resources
!routes
!artisan
!composer.json
!composer.lock
!mise.toml
!mise.lock
!package.json
!bun.lock
!tsconfig.json
!vite.config.ts
!components.json

bootstrap/cache/*.php
bootstrap/ssr
public/build
public/hot
public/frankenphp-worker.php
public/storage
resources/js/actions
resources/js/routes
resources/js/wayfinder
